<!DOCTYPE html>
<html lang="en">
<head>
  {% load static from staticfiles %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moda Smartphone</title>
  <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/foundation.css' %}" rel="stylesheet">
  <link href="{% static 'css/app.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <!--Zona top bar-->
  <div class="fixed">
    <div class="top-bar">
      <div class="top-bar-left">
        <button type="button" class="button hide-for-large" data-toggle="menu">
          <i class="material-icons" style="font-size: 1.5em;">menu</i>
        </button>
        <h5 class="title-bar-title show-for-small-only">MODA SMARTPHONE SAC</h5>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu menu-text text-center" data-dropdown-menu>
          <li class="menu-text hide-for-small-only"><h4>MODA SMARTPHONE SAC</h4></li>
          <li class="hide-for-small-only">
            <a href="#">
              <img class="profile" src="http://i.imgur.com/RHgFHP8.jpg" alt="">
            </a>
            <ul class="">
              <li>{{request.user.username|capfirst}}</li>
              <li>
                {% if request.user.is_staff %}
                  Administrador
                {% else %}
                  Vendedor
                {% endif %}
              </li>
              <li class="divider"></li>
              <li><a href="/salir/"><h4><i class="material-icons">highlight_off</i></h4></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--Zona Menu-->
  <div class="off-canvas reveal-for-large position-left" id="menu" data-off-canvas>
    <ul class="vertical menu" data-accordion-menu>
      <li>
        <a href="/consignaciones/listar"><i class="material-icons">view_list</i>Consignaciones</a>
      </li>
      <li>
        <a href="/personas/listar"><i class="material-icons">view_list</i>Clientes</a>
      </li>
      <li>
        <a href="/categorias/listar"><i class="material-icons">view_list</i>Categorias</a>
      </li>
      <li>
        <a href="/marcas/listar"><i class="material-icons">view_list</i>Marcas</a>
      </li>
      <li>
        <a href="/modelos/listar"><i class="material-icons">view_list</i>Modelos</a>
      </li>
      <li>
        <a href="/precios/listar"><i class="material-icons">view_list</i>Precios</a>
      </li>
      <li>
        <a href="/almacenes/listar"><i class="material-icons">view_list</i>Almacenes</a>
      </li>
      <li>
        <a href="/productos/listar"><i class="material-icons">view_list</i>Productos</a>
      </li>
      <li>
        <a href="/compras/listar"><i class="material-icons">view_list</i>Compras</a>
      </li>
      <li>
        <a href="/ventas/listar"><i class="material-icons">view_list</i>Ventas</a>
      </li>
      <li>
        <a href="/comisiones/listar"><i class="material-icons">view_list</i>Comisiones</a>
      </li>
      <li>
        <a href="/perdidas/listar"><i class="material-icons">view_list</i>Perdidas</a>
      </li>
      <li>
        <a href="/gastos/listar"><i class="material-icons">view_list</i>Gastos</a>
      </li>
    </ul>
  </div>
  <!--Zona de Contenido-->
  {% block contenido %}

  {% endblock %}

     {%block contenido_ancho%}
     {% endblock %}

  <!--Zona de scripts-->
  <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
  <!--<script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>-->
  <script src="{% static 'js/vendor/foundation.min.js' %}"></script>
  <!--<script src="{% static 'js/vendor/what-input.js' %}"></script>-->
  <script src="{% static 'js/app.js' %}"></script>
  <script src="{% static 'js/maskinput.js' %}"></script>
  <script type="text/javascript">
  </script>
  <script type="text/javascript">
  $(document).on(
    'open.zf.reveal', '[data-reveal]', function (){
      var modal = $(this);
      modal.find('input').focus();
    }
  );
  {%block script%}
  {% endblock %}
  </script>
</body>
</html>
