<!DOCTYPE html>
<html lang="es">
<head>
  {% load static from staticfiles %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moda Smartphone</title>
  <link href="{% static 'css/foundation.css' %}" rel="stylesheet">
  <link href="{% static 'css/app.css' %}" rel="stylesheet">
</head>
<body class="fondo">
  <div class="row large-12 medium-12 small-12 expanded barra-color text-center">
    <h1>MODA SMARTPHONE SAC</h1>
  </div>
  <form action="" method='POST' action="/login/"> {% csrf_token %}
    <div class="row medium-4 large-4 small-12 formulario">
      <div class="row">
        <h3>Iniciar Sesión:</h3>
      </div>
      <input type="text" id="username" name="username" class="input-login"
      value="" placeholder="Nombre de usuario">
      <input type="password" name="password" class="input-login"
      value="" placeholder="Contraseña">
      <button type="submit" class="button expanded boton1" name="entrar">Entrar</button>
    </div>
  </form>
<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'js/vendor/foundation.min.js' %}"></script>
<script src="{% static 'js/vendor/what-input.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#username').focus();
});
</script>
</body>
</html>
