{% extends 'inicio/base.html' %}
{% block contenido %}
<div class="off-canvas-content" data-off-canvas-content>
  <div class="callout clearfix">
    <a href="#" onclick="editarconsignacionespagado();" class="button float-right">PAGO TODO</a>
    <a href="#" onclick="editarconsignacionesdevuelto();" class="button float-left">DEVOLVIO TODO</a>
  </div>
  <div class="row titulo large-8 large-offset-2 medium-8 medium-offset-2 small-12">
  {% csrf_token %}
  <h3>Detalles de la Consignacion</h3>
    {% if detalle %}
      {% if detalle != "0" %}
      <h5 class="error">
        {{detalle}}
      </h5>
      {% endif %}
    {% endif %}
    <div class="callout medium">
      <h4>Datos generales</h4>
      <table>
        <tbody>
          <tr>
            <td>Cliente</td>
            <td>{{c.personas.nombres|upper}}</td>
          </tr>
          <tr>
            <td>Fecha</td>
            <td>{{c.fecha|date:'d/m/Y H:m'}}</td>
          </tr>
          <tr>
            <td>Pagado</td>
            <td>
              {% if c.pagado == True %}
                Pago
              {% else %}
                Debe
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Devuelto</td>
            <td>
              {% if c.devuelto == True %}
                Devuelto
              {% else %}
                No devuelto
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Observaciones</td>
            <td>
              <textarea name="observacion" id="observacion" cols="1" rows="4">
                {{c.observacion}}
              </textarea>
              <button id="guardar" type="button" class="button boton1" name="entrar" onclick="editarobservacion();">Guardar</button>
            </td

          </tr>
        </tbody>
      </table>
    </div>
 </div>
</div>
{% endblock %}
{% block contenido_ancho %}
<div class="off-canvas-content" data-off-canvas-content>
 <div class="row titulo large-10 large-offset-1 medium-10 medium-offset-1 small-12">
<div class="callout medium">
  <h4>Lista de productos comprados:</h4>
  <table id="listaproductos">
    <thead>
      <tr>
        <th width="5%">ID</th>
        <th width="">Producto</th>
        <th width="15%">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      {%for p in productos%}
        <tr>
          <td>{{p.producto.pk}}</td>
          <td>{{p.producto.categoria}}-{{p.producto.modelo.marca}}-{{p.producto.modelo}}</td>
          <td>{{p.cantidad}}</td>
        </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
</div>
</div>
{% endblock %}
{%block script%}
$( document ).ready(function() {
  obse = $("#observacion").val();
  obse = $.trim(obse);
  $("#observacion").val(obse);
  $("#observacion").focus();
});

function editarobservacion(){
  obse = $("#observacion").val();
  observacion = $.trim(obse);
  $.ajax({
    url: "observacion",
    dataType: "json",
    data: {'observacion':observacion},
    success: function(detalle){
      if(detalle=="ok"){
        window.location.replace("/consignaciones/listar");
      }
      else{
        console.log("hay que implementar un div para mostrat error");
        console.log(detalle);
      }
    }
  });
}

function editarconsignacionespagado(){
  $.ajax({
    url: "/consignaciones/editar/{{c.pk}}/pagado",
    dataType: "json",
    success: function(detalle){
      if(detalle=="ok"){
        window.location.replace("/consignaciones/listar");
        console.log("debe redirigir a ventas");
      }
      else{
        console.log("hay que implementar un div para mostrat error");
        console.log(detalle);
      }
    }
  });
}

function editarconsignacionesdevuelto(){
  $.ajax({
    url: "/consignaciones/editar/{{c.pk}}/devuelto",
    dataType: "json",
    success: function(detalle){
      if(detalle=="ok"){
        window.location.replace("/consignaciones/listar");
      }
      else{
        console.log("hay que implementar un div para mostrat error");
        console.log(detalle);
      }
    }
  });
}
{% endblock %}
