{% extends 'inicio/base.html' %}
{% block contenido %}
<div class="off-canvas-content" data-off-canvas-content>
 <div class="row titulo large-8 large-offset-2 medium-8 medium-offset-2 small-12">
   <form class="" action="#" method="POST">{% csrf_token %}
     <h3>Detalles de la Consignacion</h3>
       {% if detalle %}
         {% if detalle != "0" %}
         <h5 class="error">
           {{detalle}}
         </h5>
         {% endif %}
       {% endif %}
       <div class="callout medium">
         <h4>Datos generales</h4>
         <table>
           <tbody>
             <tr>
               <td>Cliente</td>
               <td>{{c.personas.nombres|upper}}</td>
             </tr>
             <tr>
               <td>Fecha</td>
               <td>{{c.fecha|date:'d/m/Y H:i:s'}}</td>
             </tr>
             <tr>
               <td>Pagado</td>
               <td>
                 {% if c.pagado == True %}
                   <span class="alerta" >Pagado</span>
                 {% else %}
                   <span class="error" >Debe</span>
                 {% endif %}
               </td>
             </tr>
             <tr>
               <td>Devuelto</td>
               <td>
                 {% if c.devuelto == True %}
                   <span class="alerta" >Devuelto</span>
                 {% else %}
                   <span class="error" >No devuelto</span>
                 {% endif %}
               </td>
             </tr>
           </tbody>
         </table>
       </div>

       {% endblock %}
       {% block contenido_ancho %}
       <div class="off-canvas-content" data-off-canvas-content>
        <div class="row titulo large-10 large-offset-1 medium-10 medium-offset-1 small-12">
       <div class="callout medium">
         <h4>Lista de productos comprados:</h4>
         <table id="listaproductos">
           <thead>
             <tr>
               <th width="5%">ID</th>
               <th width="">Producto</th>
               <th width="15%">Cantidad</th>
             </tr>
           </thead>
           <tbody>
             {%for p in productos%}
               <tr>
                 <td>{{p.producto.pk}}</td>
                 <td>{{p.producto.categoria}}-{{p.producto.modelo.marca}}-{{p.producto.modelo}}</td>
                 <td>{{p.cantidad}}</td>
               </tr>
             {%endfor%}
           </tbody>
         </table>
         <button type="submit" class="button boton1" name="eliminar">Eliminar</button>
       </div>
       </div>
       </div>
     </form>
   </div>
 </div>
{% endblock %}
