{% extends 'inicio/base.html' %}
{% block contenido %}
<div class="off-canvas-content" data-off-canvas-content>
 <div class="row titulo large-8 large-offset-2 medium-8 medium-offset-2 small-12">
   <form class="" action="#" method="POST">{% csrf_token %}
     <h3>Detalles de la Compra</h3>
       {% if detalle %}
         {% if detalle != "0" %}
         <h5 class="error">
           {{detalle}}
         </h5>
         {% endif %}
       {% endif %}
       <div class="callout medium">
         <h4>Datos generales</h4>
         <table>
           <tbody>
             <tr>
               <td>Proveedor</td>
               <td>{{c.personas.nombres|upper}}</td>
             </tr>
             <tr>
               <td>Fecha</td>
               <td>{{c.fecha|date:'d/m/Y'}}</td>
             </tr>
             <tr>
               <td>Con Factura</td>
               <td>
                 {% if c.facturado == True %}
                   SI
                 {% else %}
                   NO
                 {% endif %}
               </td>
             </tr>
             <tr>
               <td>Tipo de pago</td>
               <td>
                 {% if c.pago == True %}
                   EN EFECTICO
                 {% else %}
                   CREDITO
                 {% endif %}
               </td>
             </tr>
           </tbody>
         </table>
       </div>

       {% endblock %}
       {% block contenido_ancho %}
       <div class="off-canvas-content" data-off-canvas-content>
        <div class="row titulo large-10 large-offset-1 medium-10 medium-offset-1 small-12">
       <div class="callout medium">
         <h4>Lista de productos comprados:</h4>
         <table id="listaproductos">
           <thead>
             <tr>
               <th width="5%">ID</th>
               <th width="">Producto</th>
               <th width="15%">Costo</th>
               <th width="15%">Cantidad</th>
             </tr>
           </thead>
           <tbody>
             {%for p in productos%}
               <tr>
                 <td>{{p.producto.pk}}</td>
                 <td>{{p.producto.categoria}}-{{p.producto.modelo.marca}}-{{p.producto.modelo}}</td>
                 <td>{{p.costo}}</td>
                 <td>{{p.cantidad}}</td>
               </tr>
             {%endfor%}
           </tbody>
         </table>
         <button type="submit" class="button boton1" name="eliminar">Eliminar</button>
       </div>
       </div>
       </div>
     </form>
   </div>
 </div>
{% endblock %}
