{% extends 'inicio/base.html' %}
{% block contenido %}
<div class="off-canvas-content" data-off-canvas-content>
  <div class="row titulo large-10 large-offset-1 medium-10 medium-offset-1 small-12">
    <form id="form" class="" action="#" method="post">{% csrf_token %}
      <div class="row panel-clearfix">
        <h3 class="columns large-8 medium-6 small-12 left">Reporte de comisiones</h3>
      </div>
      <div class="row">
        <div class="columns large-2 medium-2 small-12">
          Fecha de inicio:
          {{form.fechainicio}}
        </div>
        <div class="columns large-2 medium-2 small-12">
          Fecha de fin:
          {{form.fechafin}}
        </div>
        <div class="columns large-8 medium-8 small-12">
          <button id="buscar" type="submit" class="button boton1" name="buscar">Buscar</button>
        </div>
      </div>
      <h3>TOTAL:{{total}}</h3>
      <div class="table-scroll">
        <table id="tabla">
          <thead>
            <tr>
              <th>Cliente</th>
              <th>Categoria</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Fecha</th>
              <th>Monto</th>
              <th>Detalle</th>
            </tr>
          </thead>
          <tbody>
        {% for c in lista %}
            <tr>
              <td>{{c.personas.nombres|upper}}</td>
              <td>{{c.producto.categoria.nombre|upper}}</td>
              <td>{{c.producto.modelo.marca.nombre|upper}}</td>
              <td>{{c.producto.modelo.nombre|upper}}</td>
              <td>{{c.fecha|date:'d/m/Y H:i'}}</td>
              <td>{{c.monto}}</td>
              <td>{{c.observacion}}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
        </div>
        {% if paginator.num_pages > 1%}
          <ul class="pagination text-center" role="navigation" aria-label="Pagination">
            {% for i in paginator.page_range %}
              {% if i != lista.number  %}
              <li class="paginas"><a href="?page={{i}}" aria-label="Page {{i}}">{{i}}</a></li>
              {% else %}
              <li class="paginas">{{i}}</li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
    </form>
  </div>
</div>
{% endblock %}
{% block script %}
  $(document).ready(function() {
    $('#id_fechainicio').focus();
  });
{% endblock %}
