{% extends 'inicio/base.html' %}
{% block contenido %}
<div class="off-canvas-content" data-off-canvas-content>
 <div class="row titulo large-8 large-offset-2 medium-8 medium-offset-2 small-12">
   <form class="" action="#" method="post">{% csrf_token %}
      <h3>Eliminar Producto:</h3>
      <h4>¿Desea Eliminar?</h4>
      <h5 class="alerta">Nombre de Categoria: {{c.categoria.nombre|upper}}</h5>
      <h5 class="alerta">Nombre de Modelo: {{c.modelo.marca.nombre|upper}}-{{c.modelo.nombre|upper}}</h5>
      <h5 class="alerta">Precio a Mayorista: {{c.precio.mayor|upper}}</h5>
      <h5 class="alerta">Precio a Punto: {{c.precio.punto|upper}}</h5>
      <h5 class="alerta">Precio a cliente: {{c.precio.cliente|upper}}</h5>
      <h5 class="alerta">Stock Minimo: {{c.stock_minimo|upper}}</h5>
      <h5 class="alerta">Descripcion: {{c.descripcion|upper}}</h5>
      <button type="submit" class="button boton1" name="eliminar">Eliminar</button>
    </form>
  </div>
</div>
{% endblock %}
