{% extends 'inicio/base.html' %}
{% block contenido %}
<div class="off-canvas-content" data-off-canvas-content>
  <div class="callout clearfix">
    <a href="/caja/abrir" class="button float-left">Abrir caja</a>
    <a href="/caja/cerrar" class="button float-right">Cerrar caja</a>
  </div>
  <div class="row titulo large-10 large-offset-1 medium-10 medium-offset-1 small-12">
    <div class="row panel-clearfix">
      <h3 class="columns large-8 medium-6 small-12 left">Listado Caja</h3>
      <div class="columns large-4 right medium-6 small-12">
        <div class="input-group input-group-rounded columns large-6 medium-4">
          <span class="input-group-label"><i class="material-icons">search</i></span>
          <input type="text" id="texto" name="buscador" class="buscador input-group-field" placeholder="Buscar Caja" id="buscador">
        </div>
      </div>
    </div>
      <div class="table-scroll">
        <table id="tabla">
          <thead>
            <tr>
              <th>Usuario</th>
              <th>Fecha Apertura</th>
              <th>Monto Apertura</th>
              <th>Fecha Cierre</th>
              <th>Monto Cierre</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
        {% for c in lista %}
            <tr>
              <td>{{c.usuario|upper}}</td>
              <td>{{c.fechaa|date:'d/m/Y H:i'}}</td>
              <td>{{c.montoa}}</td>
              <td>{{c.fechac|date:'d/m/Y H:i'}}</td>
              <td>{{c.montoc}}</td>
              <td>
                {% if c.estado == True %}
                  <span class="alerta">Abierta</span>
                {% else %}
                  <span class="error">Cerrada</span>
                {% endif %}
              </td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
        </div>
        {% if paginator.num_pages > 1%}
          <ul class="pagination text-center" role="navigation" aria-label="Pagination">
            {% for i in paginator.page_range %}
              {% if i != lista.number  %}
              <li class="paginas"><a href="?page={{i}}" aria-label="Page {{i}}">{{i}}</a></li>
              {% else %}
              <li class="paginas">{{i}}</li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block script %}
  $(document).ready(function() {
    $('#texto').focus();
  });
  $('#texto').change(function(){
    a = $("#texto").val().length;
    if(a>2){
      $("#tabla tbody tr").remove();
      texto = $("#texto").val();
      nuevafila = "<tr>"
      $.ajax({
				data: {'term':texto},
				url: "/compras/buscar-ajax",
				type: "get",
				success: function(data){
          for(var i = 0; i<data.length; i++){
            var fec = new Date(data[i].fecha);
						var fecha = fec.getDate() + '/' + (fec.getMonth() + 1) + '/' + fec.getFullYear();
            var facturado="";
            if(data[i].facturado==true){
              facturado = "Con Factura";
            }
            else{
              facturado = "Sin Factura";
            }
            var pago="";
            if(data[i].pago==true){
              pago = "Efectivo";
            }
            else{
              pago = "Credito";
            }
            nuevafila +="<td>" + data[i].proveedor + "</td>" +
                        "<td>" + fecha + "</td>" +
                        "<td>" + facturado + "</td>" +
                        "<td>" + pago + "</td>" +
                        '<td><a href="editar/'+ data[i].pk +'"> <i class="material-icons">mode_edit</i></a></td>'+
                        '<td><a href="eliminar/'+ data[i].pk +'"> <i class="material-icons">delete</i></a> </td></tr>';
           $("#tabla").append(nuevafila);
         }
        }
      });
    }
    else if(a==0){
      window.location.replace("/inicio/comisiones/listar?page=1");
    }
  });
{% endblock %}
