{% extends 'inicio/base.html' %}
{% block contenido %}
<div class="off-canvas-content" data-off-canvas-content>
  <div class="callout clearfix">
    <a href="/sku/agregar" class="button float-left">Agregar nuevo SKU</a>
  </div>
  <div class="row titulo large-10 large-offset-1 medium-10 medium-offset-1 small-12">
    <div class="row panel-clearfix">
      <h3 class="columns large-8 medium-6 small-12 left">Listado Codigos de Barras(SKU)</h3>
      <div class="columns large-4 right medium-6 small-12">
        <div class="input-group input-group-rounded columns large-6 medium-4">
          <span class="input-group-label"><i class="material-icons">search</i></span>
          <input type="text" id="texto" name="buscador" class="buscador input-group-field" placeholder="Buscar SKU" id="buscador">
        </div>
      </div>
    </div>
      <div class="table-scroll">
        <table id="tabla">
          <thead>
            <tr>
              <th>Categoria</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Cod. de Barras</th>
              <th>Imagen</th>
              <th>Genero</th>
              <th>Descripcion</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
        {% for c in lista %}
            <tr>
              <td>{{c.producto.categoria}}</td>
              <td>{{c.producto.modelo.marca}}</td>
              <td>{{c.producto.modelo}}</td>
              <td>{{c.barra}}</td>
              <td><a href="#" data-open="imgmodal"><img src="{{c.imagen}}" width="50px" height="50px"/></a></td>
              <td>{{c.genero}}</td>
              <td>{{c.descripcion}}</td>
              <td><a href="editar/{{c.pk}}"> <i class="material-icons">mode_edit</i></a></td>
              <td><a href="eliminar/{{c.pk}}"> <i class="material-icons">delete</i></a> </td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
        </div>
        {% if paginator.num_pages > 1%}
          <ul class="pagination text-center" role="navigation" aria-label="Pagination">
            {% for i in paginator.page_range %}
              {% if i != lista.number  %}
              <li class="paginas"><a href="?page={{i}}" aria-label="Page {{i}}">{{i}}</a></li>
              {% else %}
              <li class="paginas">{{i}}</li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
    </div>
</div>
<!--MODAL IMAGEN-->
<div class="large reveal modal" id="imgmodal" data-reveal>
    <h2 id="modalTitle">Foto del producto</h2>
    <img id="imgproducto" class="imagen-grande" src="" width="500" height="500"/></td>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<!--MODAL IMAGEN-->
{% endblock %}
{% block script %}
  $(document).ready(function() {
    $('#texto').focus();
  });
  $('#texto').change(function(){
    a = $("#texto").val().length;
    if(a>1){
      $("#tabla tbody").remove();
      texto = $("#texto").val();
      nuevafila = "<tr>"
      $.ajax({
				data: {'term':texto},
				url: "/sku/buscar-ajax",
				type: "get",
				success: function(data){
          for(var i = 0; i<data.length; i++){
            nuevafila +="<td>" + data[i].categoria + "</td>" +
                        "<td>" + data[i].marca + "</td>" +
                        "<td>" + data[i].modelo + "</td>" +
                        "<td>" + data[i].barra + "</td>" +
                        "<td><a href=\"#\" data-open=\"imgmodal\" aria-controls=\"imgmodal\" aria-haspopup=\"true\" ><img src=\"" + data[i].imagen + "\"></a></td>" +
                        "<td>" + data[i].genero + "</td>" +
                        "<td>" + data[i].descripcion + "</td>" +
                        '<td><a href="editar/'+ data[i].pk +'"> <i class="material-icons">mode_edit</i></a></td>'+
                        '<td><a href="eliminar/'+ data[i].pk +'"> <i class="material-icons">delete</i></a> </td></tr>';
         }
         $("#tabla").append(nuevafila);
        }
      });
    }
    else if(a==0){
      window.location.replace("/sku/listar?page=1");
    }
  });

  $('body').on('click','img',function(){
    ruta = $(this).attr('src');
    console.log(ruta);
    $('#imgproducto').attr('src',ruta);
  });
{% endblock %}
